@page "/"
@using Car_Rental.Business.Classes;
@using Car_Rental.Common.Enums;
@inject BookingProcessor bp;

<PageTitle>Car Rental</PageTitle>

@{//TODO: lägg till en föräldra-div till allt för att kunna kontrollera storlek på child-divs.
}
@* *********************VEHICLES*********************** *@
<div class="container">
    <h1>Nydahls Biluthyrning (VG)</h1>
    <h4>Vehicles</h4>
    <table class="table table-hover border border-dark">
        @*Visar kategorier (table header)*@
        <thead>
            <tr class="table-dark">
                <th scope="col">RegNo</th>
                <th scope="col">Brand</th>
                <th scope="col">Odometer</th>
                <th scope="col">Cost/km</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">$/Day</th>
                <th scope="col">Action</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @*User input - Lägg till nytt fordon*@
            <tr>
                <th scope="col">
                    <input @bind="regNo" type="text" class="form-control" placeholder="Reg No" aria-label="Username" aria-describedby="basic-addon1">
                </th>
                <th scope="col">
                    <input @bind="brand" type="text" class="form-control" placeholder="Brand" aria-label="Username" aria-describedby="basic-addon1">
                </th>
                <th scope="col">
                    <input @bind="odometer" type="text" class="form-control" placeholder="Odometer" aria-label="Username" aria-describedby="basic-addon1">
                </th>
                <th scope="col">
                    <input @bind="costKm" type="text" class="form-control" placeholder="Cost/km" aria-label="Username" aria-describedby="basic-addon1">
                </th>
                <th scope="col">
                    <select @bind="vehicleType" class="form-select" aria-label="Default select example">
                        <option selected></option>
                        @foreach (var v in bp.GetVehicleTypes())
                        {
                            <option>@v</option>
                        }
                    </select>
                </th>
                <th scope="col">
                    <input @bind="costDay" type="text" class="form-control" placeholder="$/Day" />
                </th>
                <th scope="col">
                    <button @onclick="() => {
                    bp.AddVehicle(regNo, brand, odometer, costKm, vehicleType, costDay);
                    ClearAllInputValues();
                    }" 
                    type="button" class="btn btn-outline-success">Add Vehicle</button>
                </th>
                <th scope="col"></th>
            </tr>

            @*Läser in och visar urvalet av bilar*@
            @foreach (var vehicle in bp.GetVehicles())
            {
                <tr>
                    <th scope="row">@vehicle.RegNo</th>
                    <td>@vehicle.Brand</td>
                    <td>@vehicle.Odometer</td>
                    <td>@vehicle.CostKm</td>
                    <td>@vehicle.VehicleType</td>
                    <td>@vehicle.CostDay</td>                   
                    <td>
                        @*Om status är available visas Select och Rent-knapp*@
                        @if (vehicle.Status == VehicleStatuses.Available)
                        {
                           @*  <div class="d-flex">
                                <select class="form-select me-2" aria-label="Default select example" @onchange="HandleCustomerSelection" value="@selectedCustomerId">
                                    <option selected></option>
                                    @foreach (var c in bp.GetCustomers())
                                    {
                                        <option value="@c.Id">@c.LastName @c.FirstName</option>
                                    }
                                </select>
                                <button @onclick="() => bp.NewBooking(vehicle.Id, selectedCustomerId)" class="btn btn-outline-primary">Rent</button>
                            </div> *@

                            <div class="d-flex">
                            <select class="form-select me-2" aria-label="default select example">
                            <option selected></option>
                            @foreach (var c in bp.GetCustomers())
                            {
                                <option value="@c.Id">@c.LastName @c.FirstName</option>
                            }
                            </select>
                                <button @onclick="() => bp.NewBooking(vehicle.Id, hardCodedCustomerId)" id="@vehicle.Id" class="btn btn-outline-primary">rent</button>
                            </div>
                        }
                        @*Om status är booked visas fält för inmatning av Distance och Return-knapp*@
                        else
                        {
                            <div class="d-flex">
                                <input type="text" placeholder="Distance" class="form-control me-2"/>
                                <button class="btn btn-success">Return</button>
                            </div>
                        }
                    </td>
                    <td>
                        <span class="@(vehicle.Status == VehicleStatuses.Booked
                            ? "badge rounded-pill bg-danger text-light"
                            : "badge rounded-pill bg-dark text-light")"
                        >@vehicle.Status</span>
                    </td>
                </tr>
            }
        
        </tbody>
    </table>
</div>
@* *********************BOOKINGS*********************** *@
<div class="container">
    <h4>Bookings</h4>
    <table class="table table-hover border border-dark">
        <thead>
            <tr class="table-dark">
                <th scope="col">RegNo</th>
                <th scope="col">Customer</th>
                <th scope="col">KmRented</th>
                <th scope="col">KmReturned</th>
                <th scope="col">Rented</th>
                <th scope="col">Returned</th>
                <th scope="col">Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in bp.GetBookings())
            {
                <tr>
                    <th scope="row">@customer.RegNo</th>
                    <td>@customer.NameWithSsn</td>
                    <td>@customer.KmRented</td>
                    <td>@customer.KmReturned</td>
                    <td>@customer.DayRentedOut</td>
                    <td>@customer.DayReturned</td>
                    <td>@customer.Cost</td>
                    <td>
                        <span class="@((int)customer.Status == 3
                            ? "badge bg-danger text-light"
                            : "badge bg-success text-light")">@customer.Status</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@* *********************CUSTOMERS*********************** *@
<div class="container">
    <h4>Customers</h4>
    <table class="table table-hover border border-dark">
        <thead>
            <tr class="table-dark">
                <th scope="col">SSN</th>
                <th scope="col">Last Name</th>
                <th scope="col">Firts Name</th>
            </tr>
        </thead>
        <tbody>
            @*User input - lägg till kund*@
            <tr>
                <td scope="col">
                    <input @bind="ssn" type="text" class="form-control" placeholder="SSN" aria-label="Username" aria-describedby="basic-addon1">
                </td>
                <td scope="col">
                    <input @bind="lastName" type="text" class="form-control" placeholder="Last Name" aria-label="Username" aria-describedby="basic-addon1">
                </td>
                <td scope="col" class="d-flex">
                    <input @bind="firstName" type="text" class="form-control me-2" placeholder="First Name" aria-label="Username" aria-describedby="basic-addon1">
                    <button type="button" @onclick="() => bp.AddCustomer(ssn, lastName, firstName)" class="btn btn-outline-success">Add</button>
                </td>
            </tr>
            @foreach (var kund in bp.GetCustomers())
            {
            <tr>
                 <th scope="row">@kund.Ssn</th>
                 <td>@kund.LastName</td>
                 <td>@kund.FirstName</td>
            </tr>
            }           
        </tbody>
    </table>
</div>

@code{
    int ssn;
    string lastName = string.Empty;
    string firstName = string.Empty;

    string regNo = string.Empty;
    string brand = string.Empty;
    int odometer;
    double costKm;
    string vehicleType = string.Empty;
    int costDay;

    void ClearAllInputValues()
    {
        ssn = 0; lastName = string.Empty; firstName = string.Empty; regNo = string.Empty; brand = string.Empty; odometer = 0; costKm = 0; vehicleType = string.Empty; costDay = 0;
    }

    int hardCodedCustomerId = 1;
    int selectedCustomerId;
    private void HandleCustomerSelection(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int customerId))
        {
            selectedCustomerId = customerId;
        }
    }

}